body {
    font-family: 'Quicksand';
    text-align: center;
    background: #ccc;

    .container {
        width: 500px;
        margin: 0 auto;
    }

    p {
        margin-bottom: 30px;
        font-size: 18px;
    }
}
